.place__paragraph {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .place__paragraph {
      font-size: 16px;
      line-height: 26px;
    }
  }
  @media screen and (max-width: 690px) {
    .place__paragraph {
      max-width: 288px;
      justify-items: center;
      margin: 0 auto 0;
    }
  }