.intro {
    max-width: /*690px*/53.90625%;
    margin-left: 148px;
    margin-bottom: 92px;
    padding: 0;
  }
  @media screen and (max-width: 1024px) {
    .intro {
      margin-left: 48px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .intro {
      max-width: /*720px*/93.75%;
      margin: 0 auto 88px;
    }
  }
  @media screen and (max-width: 320px) {
    .intro {
      max-width: /*288px*/90%;
      margin: 0 auto 64px;
    }
  }